{% load static %}
{% include 'shop/header.html' %}
<body>
  {% include 'shop/shoppingCart.html' %}
    {% if product_clothing_list %}
        <div class="cards-container">
          {% for product in product_clothing_list  %}
          <div class="product-card">
            <form action="{% url 'shop:detail' product.id %}" method= "post">
              {% csrf_token %}
              <button>
                <img src="{{product.img}}" alt="bike">
              </button>
              <input type="hidden" name="product" value = "product.id">
            </form>
            <div class = "product-info">
              <div >
                <p>{{product.name}}</p>
                <p>${{product.price}}</p>
              </div>
              <figure>
                <button>
                  <img src="{% static 'shop/icons/icon_shopping_cart.svg' %}" alt="close">
                </button>
              </figure>
            </div>
          </div>
          {% endfor %}
    {% else %}
            <p>No clothing are available</p>
          </div>
    {% endif %}
    <script src="{% static 'shop/main.js' %}"></script>
</body>
</html>