{% load static %}
{% include 'shop/header.html' %}
<body>
    {% include 'shop/shoppingCart.html' %}
    {% if product_electronics_list %}
        <div class="cards-container">
          {% for electronic in product_electronics_list  %}
          
          <div class="product-card">
            <form action="{% url 'shop:detail' electronic.id %}" method= "post">
              {% csrf_token %}
              <button>
                <img src="{{electronic.img}}" alt="bike">
              </button>
              <input type="hidden" name="product" value = "electronic.id">
            </form>
            <div class = "product-info">
              <div >
                <p>{{electronic.name}}</p>
                <p>${{electronic.price}}</p>
              </div>
              <figure>
                <button>
                  <img src="{% static 'shop/icons/icon_shopping_cart.svg' %}" alt="close">
                </button>
              </figure>
            </div>
          </div>

            {% endfor %}
            {% else %}
            <p>No electronics are available</p>

          </div>
    {% endif %}
    <script src="{% static 'shop/main.js' %}"></script>
</body>
</html>