{% load static %}
{% include 'shop/header.html' %}
<body>
  {% include 'shop/shoppingCart.html' %}
  
  {% if user.is_authenticated %}
  {% if messages %}
  <div class="p-2">
    {% for message in messages %}
      <div class="text-center border-bottom">{{message}}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endif %}

  <section class="main-container">
    <form class = "navigator" method="GET">
      <input class = "key_word" type="text" name="q" placeholder="Buscar productos...">
      <button class = "search" type="submit"><img src="{% static 'shop/icons/magnifier.png' %}" alt=""></button>
    </form>
    {% if product_list %}
    <div class="cards-container">
      {% for product in product_list %}
      <!-- Código HTML para mostrar el producto -->
      {% endfor %}
    </div>
    {% else %}
    <p>No se encontraron productos</p>
    {% endif %}
  
    {% if product_list %}
      <div class="cards-container">

        {% for product in product_list  %}

        <div class="product-card">
          <form action="{% url 'shop:detail' product.id %}" method= "post">
            {% csrf_token %}
            <button>
              <img src="{{product.img}}" alt="bike">
            </button>
            <input type="hidden" name="product" value = "product.id">
          </form>
          <div class = "product-info">
            <div >
              <p>{{product.name}}</p>
              <p>${{product.price}}</p>
            </div>
            <form action="{% url 'shop:addCart' product.id %}" method = "POST">
              {% csrf_token %}
              <input type="hidden" name="username" value = "{{user.username}}">
              <figure>
                <button>
                  <img src="{% static 'shop/icons/bt_add_to_cart.svg' %}" alt="add">
                </button>
              </figure>
            </form>
          </div>
        </div>

          {% endfor %}
          {% else %}
          <p>No products are available</p>
        </div>
        {% endif %}
  </section>
{% include 'shop/footer.html' %}
<script src="{% static 'shop/main.js' %}"></script>
</body>
</html>
