{% load static %}
{% include 'shop/header.html' %}
<body>
  <aside id = "shoppingCart" class="inactive">
    <div class="title-container">
      <img src="{% static 'shop/icons/flechita.svg' %}" alt="arrow">
      <p class="title">My order</p>
    </div>

    <div class="my-order-content">
      <div class="shopping-cart">
        <figure>
          <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
        </figure>
        <p>Bike</p>
        <p>$30,00</p>
        <img src="{% static 'shop/icons/icon_close.png' %}" alt="close">
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
        </figure>
        <p>Bike</p>
        <p>$30,00</p>
        <img src="{% static 'shop/icons/icon_close.png' %} " alt="close">
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
        </figure>
        <p>Bike</p>
        <p>$30,00</p>
        <img src="{% static 'shop/icons/icon_close.png' %} " alt="close">
      </div>

      <div class="order">
        <p>
          <span>Total</span>
        </p>
        <p>$560.00</p>
      </div>

      <button class="primary-button">
        Checkout
      </button>
    </div>
  </div>
  </aside>

  <aside id = "productDetail" class="inactive">
    <div class="product-detail-close">
      <img src="{% static 'shop/icons/icon_close.png' %}" alt="close">
    </div>
    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
    <div class="product-info">
      <p>$35,00</p>
      <p>Bike</p>
      <p>With its practical position, this bike also fulfills a decorative function, add your hall or workspace.</p>
      <button class="primary-button add-to-cart-button">
        <img src="{% static 'shop/icons/bt_add_to_cart.svg' %}" alt="add to cart">
        Add to cart
      </button>
    </div>
  </aside>
  <section class="main-container">
    <div class="cards-container">
    </div>
    </section>

  <script src="{% static 'shop/main.js' %}"></script>
</body>
</html>
