{% load static %}
{% include 'shop/header.html' %}

<body>
    <aside id = "productDetail" >
        <img src="{{product.img}}" alt="bike">
        <div class="product-info">
          <p>${{product.price}} US</p>
          <p>{{product.name}}</p>
          <p>With its practical position, this
             bike also fulfills a decorative function, add your hall or workspace.</p>
          <button class="primary-button add-to-cart-button">
            <img src="{% static 'shop/icons/bt_add_to_cart.svg' %}" alt="add to cart">
            Add to cart
          </button>
        </div>
      </aside>
</body>

