{% load static %}
<aside id="shoppingCart" class="inactive">
  <div class="title-container">
    <img src="{% static 'shop/icons/flechita.svg' %}" alt="arrow" />
    <p class="title">My order</p>
  </div>

  <div class="my-order-content">
    {% for item in ItemsCarrito  %}
    <div class="shopping-cart">
      <figure>
        <img
          src="{{item.producto.img}}"
          alt="bike"
        />
      </figure>
      <p>{{item.producto.name}}</p>
      <p>{{item.producto.price}}</p>
      <form method="post" action="{% url 'shop:eliminar_item' %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button class="buttonForm" type="submit">
          <img src="{% static 'shop/icons/icon_close.png' %}" alt="close" />
        </button>
      </form>
    </div>
    {% endfor %}
      <button class="primary-button">Checkout</button>
  </div>
</aside>
